<p style="color: green"><%= notice %></p>

<%= render @tasks_joiner %>

<div>
  <%= link_to "Edit this tasks joiner", edit_tasks_joiner_path(@tasks_joiner) %> |
  <%= link_to "Back to tasks joiners", tasks_joiners_path %>

  <%= button_to "Destroy this tasks joiner", @tasks_joiner, method: :delete %>
</div>
