<div id="<%= dom_id calendar %>">
  <p>
    <strong>User:</strong>
    <%= calendar.user_id %>
  </p>

  <p>
    <strong>Font:</strong>
    <%= calendar.font %>
  </p>

  <p>
    <strong>Font size:</strong>
    <%= calendar.font_size %>
  </p>

  <p>
    <strong>Font color:</strong>
    <%= calendar.font_color %>
  </p>

  <p>
    <strong>Header color:</strong>
    <%= calendar.header_color %>
  </p>

</div>
